version: '3.9'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes: [dbdata:/var/lib/postgresql/data]
    ports: ['5432:5432']
volumes: { dbdata: {} }
